<div class="ui__section ui-tabs" id="tabs"></div>
<div class="ui__section ui-taglist" id="attributes"></div>
<div class="ui__section ui-selection" id="attribute-selection"></div>
<span class="ui__toggle"><%= toggle %></span>